/* Back to top button */

.back-to-top {
  position: fixed;
  /* display: none; */
  width: 44px;
  height: 44px;
  line-height: 1;
  border-radius: 50%;
  transition: background 0.5s;
  z-index: 11;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 40px;
}

/*
@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}
*/
