/*
  NAVBAR
  */

.navbar-b {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto";
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: "";
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 30px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #000;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #000;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #000;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #000;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #000;
}

.navbar-b.navbar-reduce .navbar-toggler span {
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: 0.7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #000;
}

/* Hamburger Navbar */

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  height: 3px;
  width: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  top: 5px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
    border-radius: 2rem;
  }

  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
  }

  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
}

.navbar-list {
  font-size: 3rem;
  padding-top: 3rem;
  flex-basis: 30rem;
  list-style: none;
}

.navbar-list h3 {
  padding-bottom: 3rem;
}

.navbar-info {
  flex-basis: 30rem;
}

.navbar-info h2 {
  font-size: 3rem;
  padding: 2rem 0;
}

.navbar-info p {
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Socials */

.socials {
  padding: 0;
  height: 100%;
}

.socials ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  gap: 5px;
}

.socials ul li {
  display: inline-flex;
}

.socials .ico-circle {
  height: 35px;
  width: 35px;
  font-size: 1.5rem;
  border-radius: 50%;

  margin: 0;
  transition: all 500ms ease;

  align-content: center;
  justify-items: center;
}

.socials .ico-circle:hover {
  box-shadow: 0 0 0 1px #cde1f8;
  transition: all 500ms ease;
}

/* Ico Circle */

.ico-circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  line-height: 1.55;
  text-align: center;
  display: block;
}

/* * --------------------- Mobile Menu style --------------------- */

.app__navbar-menu {
  width: 0px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  background-color: var(--secondary-color);
}

.app__navbar-menu svg {
  width: 70%;
  height: 70%;
  color: var(--white-color);
}

.app__navbar-menu div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 1rem;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background: url("../../assets/bgWhite.png");
  background-color: var(--white-color);
  background-size: cover;
  background-repeat: repeat;
  box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
}

.app__navbar-menu div svg {
  width: 35px;
  height: 35px;
  color: var(--secondary-color);
  margin: 0.5rem 1rem;
}

.app__navbar-menu div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.app__navbar-menu div ul li {
  margin: 0.5rem;
}

.app__navbar-menu div ul li a {
  color: var(--gray-color);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.app__navbar-menu div ul li a:hover {
  color: var(--secondary-color);
}

@media screen and (min-width: 900px) {
  .app__navbar-menu div {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .app__navbar-menu {
    display: none;
  }
}
