/*
  PORTFOLIO
  */
/* Box */

.box-pl2 {
  padding-left: 1rem;
}

.box-shadow-full {
  padding: 0.5rem;
  position: relative;
  margin-bottom: 2rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.about-mf .box-shadow-full {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-mf .about-img {
  margin-bottom: 2rem;
}

.about-mf .about-img img {
  margin-left: 10px;
}

.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: 0.8rem;
}

.work-content .w-more .w-ctegory {
  color: #000;
}

.work-content .w-like {
  font-size: 2.5rem;
  color: #000;
  float: right;
}

.work-content .w-like a {
  color: #000;
}

.work-content .w-like .num-like {
  font-size: 0.7rem;
}

.w-title {
  font-size: 1.2rem;
}

.all_projects_container {
  margin-bottom: 104px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 992px) {
  .all_projects_container {
    margin-bottom: 120px;
  }
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 1.5rem;
  }
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 2rem;
    padding-left: 0rem;
  }
}

.socials .ico-circle {
  height: 35px;
  width: 35px;
  font-size: 1.5rem;
  border-radius: 50%;

  margin: 0;
  transition: all 500ms ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.socials .ico-circle:hover {
  box-shadow: 0 0 0 1px #cde1f8;
  transition: all 500ms ease;
}

/* Ico Circle */

.ico-circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  line-height: 1.55;
  text-align: center;
  display: block;
}
